@charset "UTF-8";
* {
  margin: 0px;
  padding: 0px;
}

.osu {
  width: 100px;
  height: 100px;
  background-color: red;
  color: #fff;
}

html {
  width: 100%;
}

body {
  background-color: #fff;
}
img {
	width: 100%;
}
.wrapper {
	max-width: 700px;
	margin: 0 auto;
}

.wrapper div {
    margin: 0px;
    padding: 0px;
    line-height: 0;
}
.video_box,.offer_box {
	position: relative;
}
.video_inner,.offer_inner {
	position: absolute;
}
.video01 {
	width: 82%;
	top: 50.5%;
	text-align: right;
}
.video01 img {
	width: 55%;
}
.video02 {
	width:35.5%;
	top: 24.5%;
	right: 40%;
}
.video03 {
	width: 100%;
	top: 61.5%;
	text-align: center;
}
.video03 img {
	width: 65%;
}
.video04 {
	width: 94.5%;
	top: 48.5%;
	text-align: right;
}
.video04 video {
	width: 45%;
}
.btn {
	margin: 0 auto;
	text-align: center;
}
.btn img {
	width: 90%;
	animation: anime1 0.5s ease 0s infinite alternate;
 	transform-origin:center;
}
@keyframes anime1 {
  from {
    transform: scale(0.9,0.9);
  }
  to {
    transform: scale(1,1);
  }
}
.btn01{
	bottom:3.3%;
}
.btn02{
	bottom:7.5%;
}

#pc_pagetop{
  bottom: 0px;
  position: fixed;
  left: 10vw;
  z-index: 1;
}
#pc_pagetop img{
    width: 314px;
}

main {
    color: #ffffff;
    background-color: #000000;
    font-family: 'digital-7', sans-serif;
}
main {
    transform: translate(-50%,-50%);
    padding: 15px;
    border: solid 5px #ffffff;
}

div.days {
    margin: 0 auto;
    color: #131212;
}

div.days .day {
    display: inline-block;
}

div.days .day p {
    font-size: 12px;
    font-weight: bold;
    font-family: sans-serif;
    text-transform: uppercase;
}

div.clock div{
    display: inline-block;
    position: relative;
}

div.clock div p{
    font-size: 30px;
    position: relative;
    z-index: 100;
}

div.clock .placeholder {
    color: #131212;
    position: absolute;
    top: 0;
    z-index: 50;
}
.light-on {
    color: #ffffff;
}
/*=========タイマーここから===================*/
.timer_box {
	position: relative;
  max-width: 700px;
}

.timer_box__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 49%;
  color: red;
}


.ms_timer {
  display: flex;
  font-size: 11vw;
  font-weight: bold;
}

.timer_box__time {
	font-size: 7vw;
  font-weight: bold;
  margin-top: 3px;
  margin-right: 3%;
}

@media (min-width: 700px) {
  .ms_timer {
    font-size: 80px;
  }

  .timer_box__time {
    font-size:  50px;
  }
}

.timer_box {
  max-width: 700px;
}

.floating-nav {
  width: 90%;
  position: fixed;
  top: 5px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 101;
  display: none;
  transition: all .3s;
}

.floating-nav.scroll {
  display: block;
  transition: all .3s;
}

.floating-nav__note {
  width: 100%;
  text-align: center;
  position: fixed;
  top: 13px;
  left: 0;
  font-size: 4vw;
  font-weight: bold;
}

.fa-exclamation-triangle.before{
  margin-right: 10px;
}

.fa-exclamation-triangle.after {
  margin-left: 10px;
}

.floating-nav__pic {
  max-width: 700px;
  height: 70px;
}

.floating-nav__pic img {
  max-width: 700px;
  height: 70px;
  border-radius: 40px;
}

.floating-nav__copy {
  width: 100%;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 47px;
  left: 0;
  color: red;
}

.floating-nav__time {
  font-size: 4vw;  
  margin-top: 2px;
  font-weight: bold;
  margin-right: 3%;
}

.ms_timer.floating {
  font-size: 7vw;
}

@media (min-width: 420px) {

  .floating-nav {
    max-width: 600px;
    left: 50%;
    transform: translateX(-50%);
  }

  .floating-nav__pic {
    height: 90px;
  }
  
  .floating-nav__pic img {
    height: 80px;
  }

  .floating-nav__copy {
    top: 57px;
  }

  .floating-nav__note {
    font-size: 18px;
    top: 15px;
  }

  .floating-nav__time {
    font-size: 20px;  
    margin-top: 0px;
  }
  
  .ms_timer.floating {
    font-size: 34px;
  }
}


/* =============================================【PC】レスポンシブcssここから=============================================*/
@media only screen and (min-width: 480px) {


  body {
    background: url("../img/bg_wh.jpg") no-repeat top center;
    background-attachment: fixed;
    background-size: cover;
  }


  #pc_pagetop {
    bottom: 6px;
    left: 50%;
    position: fixed;
    z-index: 1;
    transform: translate(-50%);
    max-width: 624px;
  }
  #pc_pagetop img {
    width: 100%;
  }

  .sp_only {
    display: none;
  }
}
.timer_box span {
  width: 700px;
  font-size: 90px;
}
  

#countOutput {
  position: fixed;
  top: 200px;
  height: 300px;
  font-size: 20px;
}
